.titleApp {
  height: auto;
  background-color: #FFFFFF;
}
.titleApp h1 {
  margin: auto;
  color: #000000;
  padding: 10px;
}
.titleApp span {
  color: #04B404;
}

/*------ Container main ------*/
.containerMain {
  margin-top: 5px;
  height: auto;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 10px 150px 10px 150px;
}

/*------ Container Top ------*/
.containerTop {
  height: 600px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
}

.containertopLeft {
  width: 25%;
  height: 100%;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
}
.containerleftResp {
  margin: 5px;
  height: 50%;
  background-color: #FFFFFF;
}
.containerimgSmall {
  width: 100%;
  height: 70%;
  background-color: #FFFFFF;
}
.containerimgSmall img {
  width: 100%;
  height: 100%;
}
.containerTitle {
  width: 100%;
  height: 30%;
  background-color: #FFFFFF;
  font-size: 12px;
  text-align: left;
}
.containerTitle h2 {
  margin-top: 20px;
  color: #000000;
}
.containerTitle span {
  color: #04B404;
  font-size: 16px;
}

.containerlrBottom {
  margin: 5px 5px 20px;
  height: 50%;
  background-color: #FFFFFF;
}

.containertopCenter {
  width: 50%;
  height: 100%;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}
.containerimgCenter {
  width: 100%;
  height: 70%;
  background-color: #FFFFFF;
}
.containerimgCenter img { 
  width: 100%;
  height: 100%;
}
.containertitleCenter {
  margin-bottom: 15px;
  width: 100%;
  height: 30%;
  background-color: #FFFFFF;
  font-size: 20px;
  text-align: left;
}
.containertitleCenter h2 {
  margin-top: 20px;
  color: #000000;
  font-size: 20px;
}
.containertitleCenter span {
  color: #04B404;
}

.containertopRight {
  width: 25%;
  height: 100%;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
}
.containerrightTop {
  margin: 5px;
  height: 50%;
  background-color: #FFFFFF;
}

/*------ Container bottom ------*/
.containerBottom {
  height: auto;
  background-color: #E6E6E6;
}
.containerBottom h2 {
  margin: auto;
  color: #000000;
  padding: 20px;
}
.containerBottom span {
  color: #04B404;
}

/*****************************************************/
/* Medias query */
@media screen and (min-width: 200px) and (max-width: 690px) {
  html {
    width: auto;
  }
  /*------ Container main ------*/
  .containerMain {
      height: auto;
      padding: 5px;
  }
  .titleApp h1 {
    font-size: 20px;
    padding: 5px;
  }
  /*------ Container Top ------*/
  .containerTop {
      margin-top: 0px;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: space-evenly;
  }
  .containertopLeft {
      height: 45%;
      width: 50%;
  }
  .containerleftResp {
      height: 100%;
  }
  .containerTitle h2 {
      font-size: 20px;
  }
  .containerTitle span {
    color: #04B404;
    font-size: 16px;
  }

  .containertopCenter {
      height: 45%;
  }
  .containertitleCenter {
      margin-bottom: 5px;
  }
  .containertitleCenter h2 {
      font-size: 20px;
  }
  .containertitleCenter span {
    font-size: 16px;
  }
  
  .containertopRight {
      display: none;
  }
  .containerlrBottom {
      display: none;
  }
  /*------ Container bottom ------*/
  .containerBottom {
      width: 50%;
      height: auto;
      margin: auto;
      margin-bottom: 20px;
  }
  .containerBottom h2 {
      font-size: 20px;
      text-align: center;
      margin: auto;
      padding: 10px;
  }
  .containerBottom span {
      font-size: 20px;
      color: #0B610B;
  }  
}

/*****************************************************/
/* Medias query */
@media screen and (min-width: 700px) and (max-width: 1200px) {
  html {
    width: auto;
  }
  /*------ Container main ------*/
  .containerMain {
      height: auto;
      padding: 5px;
  }
  .titleApp h1 {
    font-size: 20px;
    padding: 5px;
  }
  /*------ Container bottom ------*/
  .containerBottom {
    height: auto;
    margin-top: 15px;
  }
  .containerBottom h2 {
    padding: 15px;
  }
}